body {
    background-color: rgb(105, 248, 105);    
}

h1 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;    
}

p {
    font-size: x-large;
    
}